.m-cart {
  position: fixed;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  background-color: rgba(25, 25, 25, 0.3);
  opacity: 0;
  backdrop-filter: blur(5px);
}

.m-cart-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 90vw;
  max-width: 400px;
  height: 100vh;
  padding: calc(var(--baseSpacing) * 2);
  overflow-y: visible;
  background: #fff;
}

.m-cart--visible {
  right: 0;
  opacity: 1;
  transition: opacity var(--transition) ease-in-out;
}

.m-cart-closebutton {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background: #ccc3;
  border: 0;
}

.a-cart-product {
  margin: 0 0 var(--baseSpacing);
  border-bottom: 1px dashed var(--lightTransparent);
}

.a-cart-variant {
  padding: var(--baseSpacing) 0 var(--baseSpacing) calc(var(--baseSpacing));
}
