.a-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  background: var(--lightTransparent);
  border: 0;
  transition: all var(--transition);

  &:hover {
    color: var(--lightText);
    background: var(--siteScheme);
  }
}
