// @import "../../themes/global.scss"; // should use @use instead of @import but webpack does not like that

.a-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  // background:#000c;
  // backdrop-filter:blur(5px);

  box-sizing: border-box;

  width: 100%;
  // grid-column-gap: calc(var(--baseSpacing) *2 );

  max-width: 1280px; // TODO: figure this out
  margin: 0 auto;
  // margin:0 0 calc(var(--baseSpacing) * 2) 146px; // needs to not overlap the nav... hide the nav link txt on smaller screens?
  padding: 0 calc(var(--baseSpacing) * 2);
}

.a-grid:last-of-type {
  margin-bottom: 0;
}
