.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.value {
  margin-top: 2px;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 78px;
  font-family: "Courier New", Courier, monospace;
}

.button {
  padding-right: 12px;
  padding-bottom: 4px;
  padding-left: 12px;
  color: var(--siteScheme);
  font-size: 32px;
  background: none;
  background-color: rgba(112, 76, 182, 0.1);
  border: 2px solid transparent;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  transition: all 0.15s;
  appearance: none;
}

.asyncButton {
  @extend .button;
  position: relative;
  margin-left: 8px;
}

.textbox {
  width: 64px;
  margin-right: 8px;
  padding: 2px;
  font-size: 32px;
  text-align: center;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.asyncButton:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(112, 76, 182, 0.15);
  opacity: 0;
  transition: width 1s linear, opacity 0.5s ease 1s;
  content: "";
}

.asyncButton:active:after {
  width: 0%;
  opacity: 1;
  transition: 0s;
}
