@import "./variables.scss";

body {
  overflow-x: hidden;
  color: var(--medText);
  font-size: var(--normalFont);
  font-family: "lato", sans-serif;
  line-height: 1.42rem;
  background: var(--bg);
}

// h1, h2, h3 {
//   text-transform: uppercase;
// }

.a-heading--h1 {
  padding: 0 0 calc(var(--baseSpacing) * 3);
  font-size: calc(var(--baseSpacing) * 6);
  line-height: 2.4rem;
}

.a-heading--h2 {
  padding: 0 0 calc(var(--baseSpacing) * 2);
  font-size: calc(var(--baseSpacing) * 5);
  line-height: 2rem;
}

.a-heading--h3 {
  padding: 0 0 calc(var(--baseSpacing) * 2);
  font-size: calc(var(--baseSpacing) * 4);
  line-height: 1.8rem;
}

a {
  color: var(--siteScheme);
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

.a-heading--h1 a {
  display: inline-block;
  padding: 0 var(--baseSpacing);
  background: #0006;
  transition: background var(--transition);
}

.a-heading--h1 a:hover {
  background: #000c;
}

:host {
  position: relative;
  display: block;
}

.a-content-wrapper {
  display: flex;
  justify-content: center;
}
