[class^="a-button"] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(6 * var(--baseSpacing));
  color: var(--lightText);
  font-weight: var(--lightFont);
  font-size: var(--largeFont);
  background: var(--siteScheme);
  border: 0;
}
