.a-label {
  display: flex;
  align-items: center;
  height: calc(4 * var(--baseSpacing));
}

.a-input,
.a-select {
  display: flex;
  width: 100%;
  height: calc(5 * var(--baseSpacing));
  margin: 0 0 calc(2 * var(--baseSpacing));
  padding: var(--baseSpacing);
  border: 0;
}
