.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  flex: 0 0 auto;
  min-height: 100px;
  background: var(--lightText);
}

.content {
  flex: 1 1 auto;
}

footer {
  color: var(--lightText);
  background: var(--darkTransparent);
}
