$s: 420px;
$m: 760px;
$l: 1280px;
$xl: 1600px;

html {
  --bg: #f5f5f5;

  --siteScheme: #dd007a;
  /* --standOut: #9BC600; */ /* too lime? */
  /* --standOut: #436400; */ /* too dark? */
  /* --standOut: #7FB416; */
  --standOut: #98c379;
  --lightText: #f1f1f1;
  --medText: rgb(41, 36, 41);
  --darkText: #14080e;

  --standOutGradientStart: #007da0;
  --standOutGradientEnd: #6f0075;
  --standOutGradient: linear-gradient(
    110deg,
    #007da0 39%,
    #6f0075 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  --darkTransparent: #14080ecc;
  --midTransparent: #14080e99;
  --lightTransparent: #14080e33;

  --baseSpacing: 8px;

  --normalFont: 16px;
  --largeFont: 22px;
  --xlFont: 28px;

  --fontFam: "Lato", sans-serif;

  --lightFont: 100;

  --transition: ease-in-out 0.3s;

  // breakpoints
  --s: $s;
  --m: $m;
  --l: $l;
  --xl: $xl;
}
