@import "../../themes/default/variables.scss";

.a-griditem--blur {
  backdrop-filter: blur(5px);
}

.a-griditem--white {
  background: #fff1;
}

.a-griditem--black {
  background: #0009;
}

.a-griditem--red {
  background: #900c;
}

// grid stuff
.a-griditem--full {
  grid-column: span 12;
}

.a-griditem--half {
  grid-column: span 6;

  @media (max-width: $s) {
    grid-column: span 12;
  }
}

.a-griditem--third {
  grid-column: span 4;

  @media (max-width: $s) {
    // @media (max-width:750px) {
    grid-column: span 12;
  }
}

.a-griditem--twothird {
  grid-column: span 8;

  @media (max-width: $s) {
    // @media (max-width:750px) {
    grid-column: span 12;
  }
}

.a-griditem--quarter {
  grid-column: span 3;

  @media (max-width: $s) {
    grid-column: span 6;
  }
}

.a-griditem--threequarter {
  grid-column: span 9;

  @media (max-width: $s) {
    grid-column: span 12;
  }
}

[class^="a-griditem"] {
  padding: calc(var(--baseSpacing) * 2);
}

.a-griditem--pu {
  grid-column: span 1;
  padding: 0;
}

.a-griditem--pu img {
  display: block;
}
