.m-product-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center bottom;
  background-size: cover;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--midTransparent);
    backdrop-filter: blur(5px);
    content: "";
  }
}

.a-product-image {
  position: relative;
  max-width: 100%;
  max-height: 500px;
}
